.about-section {
  background-color: $bg-color;
  color: $gold;
  display: flex;
  align-items: center;
  width: 100%;
  height: $section-height;
  flex-direction: column;
  overflow-y: scroll;
  padding: pxtorem(20);

  @include fade-in;
  @include breakpoint('desktop') {
    width: calc(100% - 20vh);
  }
}

.about-content {
  p {
    font-size: 1.2em;
    text-align: justify;
    display: inline-block;
    animation: fadein 1s;
    text-indent: 3%;
    line-height: 1.5;

    @include breakpoint('desktop') {
      font-size: 0.95em;
    }
  }
}

.about-image {
  min-height: 55%;
  margin-top: pxtorem(20);
  padding-bottom: pxtorem(20);
}
