.gallery-section {
  background-color: $bg-color;
  color: $gold;
  display: flex;
  align-items: center;
  width: 100%;
  height: $section-height;
  justify-content: space-around;

  @include breakpoint('desktop') {
    width: calc(100% - 20vh);
  }
}

.gallery-image {
  height: 70vh;
  width: 80%;

  @include flex-center;
  @include fade-in;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.gallery-btn {
  width: 5%;
  height: auto;
  background-color: $bg-color;

  &:hover {
    opacity: $hover-opacity;
    transition: $hover-transition;
    cursor: pointer;
  }
}
