.home-section {
  background-color: $bg-color;
  color: $gold;
  @include flex-center;
  width: 100%;
  height: $section-height;

  @include breakpoint('desktop') {
    width: calc(100% - 20vh);
  }
}
