* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

button {
  &:focus-visible {
    outline: 1px dashed $gold;
  }
}
